body {
    padding: 40px;
}


/* button {
    color: white;
    width: 40px;
    height: 40px;
    border: 1px solid gray;
    border-radius: 20px;
    margin-right: 10px;
    cursor: pointer;
    outline: none;
    transition: all .8s;
}

button:hover {
    border: none;
     transform: scale(1.2); 
    transform: rotate(360deg);
    box-shadow: 1px 1px 3px;
}

.plus {
    background-color: #3a802f;
}

.desc {
    background-color: #dc3545;
}

.reset {
    background-color: #e9d529;
} */